a{
    color:#FFFDD0;
}
body{
    padding: 0px;
}
footer{
    height: 100px;
}
header {
    height: 220px;	
}
header img {
	margin: 10px 10px 10px 0px;
}
@media screen and (min-width: 1000px) {
    .max{
        width: 960px;
    }
}